<div fxLayout fxLayoutAlign="space-evenly" style="background-color: lightgrey">
    <div fxFlex="17" *ngFor="let t of trends">

        <div class="box" gdColumn="col 3 / span 2" gdRow="row 2" gdGap="10px" gdColumns="1fr 1fr">
            <div class="box one" gdColumn="1 / 3" gdRow="1" (click)="onClick(t)">{{t.title}}</div>
            <div class="box two" gdColumn="1" gdRow="2">{{t.value}}</div>
            <div class="box three" gdColumn="2" gdRow="2">
                <div *ngIf="t.trend;else elseBlock">
                    <mat-icon style="color:royalblue">arrow_upward</mat-icon>
                </div>
                <ng-template #elseBlock>
                    <mat-icon style="color:orangered">arrow_downward</mat-icon>
                </ng-template>
            </div>
        </div>

    </div>
</div>
<div style="margin: 100px;">
    <div style="margin:50px">
        <div fxFlex fxLayout="column" fxLayoutAlign="end" fxLayoutGap="10">
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly">
                <div class="mat-elevation-z1">
                    <anms-chart></anms-chart>
                </div>
            </div>
        </div>
    </div>
</div>