<div fxFlex fxLayout="column" fxLayoutAlign="end" fxLayoutGap="10">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly">
    <div *ngFor="let user of users" fxFlex="15" fxFlex.md="19" fxFlex.sm="27" fxFlex.xs="80" fxLayout="column" fxLayoutAlign="end">
      <mat-card class="mat-elevation-z1">
        <mat-card-header>
          <mat-card-title> {{user.name}} </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="user.imgUrl" >

        <mat-card-content >
          <p>{{user.description}}</p>
        </mat-card-content>

        <mat-card-actions>
          <button fxFlex mat-button class="mat-raised-button mat-primary">
            VIEW DETAIL
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<!-- <div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh">
    <div fxLayout="row wrap">
      <div *ngFor="let card of cardList" fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" style="padding: 5px">
        <mat-card class="mat-elevation-z1">
          <img mat-card-image [src] = "card.imgSrc" />
          <mat-card-title>{{card.title}}</mat-card-title>
          <mat-card-content>{{card.description}}</mat-card-content>
          <mat-card-footer>
            <button fxFlex mat-flat-button color="primary">Do Something Button</button>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div> -->