<div class="user-panel" style="margin: 50px">
  <h3>Users</h3>

  <mat-tab-group>
    <mat-tab label="Administrator">
      <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGAp="0.5%" fxLayoutAlign="center"> -->
        <anms-user-card-list [users]="administrators$ | async">
        </anms-user-card-list>
      <!-- </div> -->
    </mat-tab>

    <mat-tab label="Customer">
      <anms-user-card-list [users]="customers$ | async">

      </anms-user-card-list>

    </mat-tab>

  </mat-tab-group>

</div>
<!-- {{users$ | async | json}} -->